<div class="contenedor">
  <div class="barra-controles">
    <input
      [(ngModel)]="filtro"
      placeholder="Buscar por nombre..."
      class="buscador"
      aria-label="Buscar Pokémon por nombre"
    />

    <!-- Filtro por tipo -->
    <select
      [(ngModel)]="tipoSeleccionado"
      class="filtro-tipo"
      aria-label="Filtrar por tipo de Pokémon"
    >
      <option value="">Todos los tipos</option>
      <option *ngFor="let tipo of tipos" [value]="tipo.name">
        {{ tipo.name | titlecase }}
      </option>
    </select>
  </div>

  <!-- Lista de Pokémon -->
  <ul>
    <li *ngFor="let p of pokemonsFiltrados" class="pokemon-item">
      <img [src]="p.imagen" [alt]="p.name" class="pixel-img" />
      <span>{{ p.name | titlecase }}</span>
      <div class="tipos">
        <span
          class="tipo"
          *ngFor="let tipo of p.types"
          [attr.data-type]="tipo | titlecase"
        >
          {{ tipo | titlecase }}
        </span>
      </div>
    </li>
  </ul>

  <!-- Mensaje si no hay resultados -->
  <p *ngIf="pokemonsFiltrados.length === 0">
    No se encontraron Pokémon.
  </p>
  <button
  *ngIf="!cargando && offset < totalPokemons"
  (click)="cargarMasPokemons()"
  class="boton-cargar">  Cargar más Pokémon</button>

<p *ngIf="cargando">Cargando...</p>

</div>
